<div class="nested-fields well">
  <div class="field">
    <div class="col-md-12">
      <%= f.label :inhaler_device, t('.inhaler-device') %>
      <%= f.collection_select :inhaler_device_id, InhalerDevice.active.order(inhaler_device_type: :asc, active_ingredient_inn: :asc, medicine_dosage: :asc), :id, :full_choice, {}, class: 'form-control' %>
    </div>
  </div>
  <div class="field">
    <div class="col-md-3">
      <%= f.label :before_technic, t('.before-technic') %>
      <%= f.select :before_technic, options_for_select([[t(".bt-bad"),"bt_bad"], [t(".bt-average"),"bt_average"], [t(".bt-good"),"bt_good"]], [t(".bt-average"),"bt_average"]), {}, class: 'form-control' %>
    </div>
  </div>
  <div class="field">
    <div class="col-md-3">
      <%= f.label :after_technic, t('.after-technic') %>
      <%= f.select :after_technic, options_for_select([[t(".at-bad"),"at_bad"], [t(".at-average"),"at_average"], [t(".at-good"),"at_good"]], [t(".at-average"),"at_average"]), {}, class: 'form-control' %>
    </div>
  </div>
  <div class="field">
    <div class=" col-md-6">
      <%= f.label :observation, t('.observation') %>
      <%= f.text_field :observation, class: 'form-control' %>
    </div>
  </div>
  <%= link_to_remove_association t('.remove-inhaler'), f, class: 'btn btn-danger' %>
</div>