<div class="panel panel-info">
  <div class="panel-heading">
    <span class="lead"><%= pulmonary_appointment.appointment_date %> - <%= pulmonary_appointment.user.title %> <%= pulmonary_appointment.user.full_name %></span>
  </div>
  <div class="panel-body">
    <ul class="list-inline">
      <li><small><%= t('.weight') %>: </small><strong><%=pulmonary_appointment.weight %> Kg</strong></li>
      <li><small><%= t('.blood-pressure') %>: </small><strong><%=pulmonary_appointment.blood_pressure %> mmHH</strong></li>
      <li><small><%= t('.pulse') %>: </small><strong><%=pulmonary_appointment.pulse %> bpm</strong></li>
      <li><small><%= t('.oxygen') %>: </small><strong><%=pulmonary_appointment.oxygen %> %</strong></li>
      <li><small><%= t('.pef') %>: </small><strong><%=pulmonary_appointment.pef %> l/m</strong></li>
      <li><small><%= t('.inhaler') %>: </small><strong><%= t('.inhaler-yes') if pulmonary_appointment.inhaler? %><%= t('.inhaler-no') unless pulmonary_appointment.inhaler? %></strong></li>
    </ul>
      <% unless pulmonary_appointment.prescribed_inhalers.empty? %>
        <%= render pulmonary_appointment.prescribed_inhalers %>
      <% end %>
      
      <% unless pulmonary_appointment.oxygen_therapy_prescriptions.empty? %>
        <%= render pulmonary_appointment.oxygen_therapy_prescriptions %>
      <% end %>

      <% unless pulmonary_appointment.niv_prescriptions.empty? %>
        <%= render pulmonary_appointment.niv_prescriptions %>
      <% end %>

      <% unless pulmonary_appointment.medication.empty?%>
        <ul class="list-inline list-group-item-text">
          <li><strong>Outra medicação:</strong></li>
          <li><%=pulmonary_appointment.medication %></li>
        </ul>
      <% end %>
    </ul>
    <% if can? :manage, PulmonaryAppointment %>
      <div class="text-right"><%= link_to t('.edit-patient-pulmonary-appointment'), edit_pulmonary_appointment_path(pulmonary_appointment), class: 'btn btn-default btn-xs' %></div>
    <% end %>
  </div>
</div>