<% provide(:title, "Ajuda") %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="nav navbar-nav navbar-left">
      <a class="btn btn-primary navbar-btn" href="#" role="button">Nova ficha</a>
    </div>
    <span class="navbar-right">
      <p class="navbar-text text-info">Jorge Alfredo Mendes de Carvalho e Cunha</p>
      <p class="navbar-text text-info">Age: 75 years</p>
      <p class="navbar-text text-info">Processo: 18123456</p>
    </span>
  </div>
</nav>

<h1>Ajuda</h1><br />
<p><%= t('hello_world') %></p>
<p><%=l Time.now %></p>

<p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p><p><%=l Time.now %></p>