<% provide(:title, t(".forgot-password")) %>

<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t(".forgot-password") %></h4>
    </div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email, t(".email") %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="actions col-md-2">
          <%= f.submit t(".send-me-reset-password-instructions"), class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
