<li role="presentation" class=<%= 'active' if current_page?(pulmonary_inhaler_device_types_path) %>><%= link_to t('.device-types'), pulmonary_inhaler_device_types_path %></li>
<% if controller_name === 'inhaler_device_types' %>
  <li role="presentation"><%= link_to t('.new-inhaler-device-type'), new_pulmonary_inhaler_device_type_path %></li>
<% end %>
<li role="presentation" class=<%= 'active' if current_page?(pulmonary_inhaler_devices_path) %>><%= link_to t('.inhalers'), pulmonary_inhaler_devices_path %></li>
<% if controller_name === 'inhaler_devices' %>
  <li role="presentation"><%= link_to t('.new-inhaler-device'), new_pulmonary_inhaler_device_path %></li>
<% end %>
<% if controller_name === 'inhaler_devices' || controller_name === 'inhaler_device_types' %>
  <li role="presentation"><%= link_to t('.patient-index'), patients_path %></li>
<% end %>