<ul class="list-inline list-group-item-text">
  <li><strong>Oxigenoterapia</strong></li>
  <li><%= oxygen_therapy_prescription.oxygen_therapy_supplier %></li>
  <li><%= oxygen_therapy_prescription.flow %> L/m</li>
  <li><%= oxygen_therapy_prescription.number_hours %> h</li>
  <li><%= t('.oxygen-tank') if oxygen_therapy_prescription.oxygen_tank %></li>
  <li><%= t('.liquid-oxygen') if oxygen_therapy_prescription.liquid_oxygen %></li>
  <li><%= t('.oxygen-concentrator') if oxygen_therapy_prescription.oxygen_concentrator %></li>
  <li><%= t('.portable-oxygen-concentrator') if oxygen_therapy_prescription.portable_oxygen_concentrator %></li>
</ul>