<% provide(:title, t('.oxygen-therapy-suppliers')) %>

<aside class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('.oxygen-therapy-suppliers') %></h4>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        <%= render 'shared/pulmonary_menu' %>
      </ul>
    </div>
  </div>
</aside>

<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th><%= t('.supplier') %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @oxygen_therapy_suppliers.each do |supplier| %>
            <tr>
              <td><%= supplier.supplier_name %></td>
              <td><%= link_to t('.edit'), edit_pulmonary_oxygen_therapy_supplier_path(supplier), class: 'btn btn-default btn-xs' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>