<% provide(:title, t('.patients-index')) %>

<!-- aside column -->
<aside class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-body">
      <div>
        <%= render 'search-patients' %>
        <%= link_to 'Inhaler Types', pulmonary_inhaler_device_types_path %>
        <%= link_to 'Inhalers', pulmonary_inhaler_devices_path %>
      </div>
    </div>
  </div>
</aside>

<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="patients">
        <%= render @patients %>
      </ul>
      <%= will_paginate %>
    </div>
  </div>
</div>
