<% provide(:title, @patient.name) %>

<!-- aside column -->
<aside class="col-md-3">
  <div class="panel panel-default" data-spy="affix" data-offset-top="55">
    <div class="panel-heading">
      <h4><%= @patient.name %></h4>
    </div>
    <div class="panel-body">
      <%= render 'shared/patient_data' %>
      <%= link_to t('.new-patient-pulmonary-appointment'), new_patient_pulmonary_appointment_path(@patient), class: 'btn btn-primary btn-block'%>
      <%= link_to t('.edit-patient-link'), edit_patient_path(@patient), class: 'btn btn-default btn-block' %>
      <%= link_to t('.patient-index'), patients_path(), class: 'btn btn-default btn-block' %>
    </div>
  </div>
</aside>

<!-- main column  -->
<% if @patient.pulmonary_appointments.any? %>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= t(".pulmonary-appointments") %> <span class="badge"><%= @patient.pulmonary_appointments.count %></span></h4>
      </div>
      <div class="panel-body">
        <div class="panel-group" id="pulmonary_appointments_accordion" role="tablist" aria-multiselectable="true">
          <%= render @pulmonary_appointments %>
        </div>
      </div>
    </div>
  </div>
<% end %>