<% provide(:title, @patient.name) %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <span class="navbar-right">
      <p class="navbar-text text-info">
        <strong><%= @patient.name %></strong>
      </p>
      <p class="navbar-text text-info">
        <small><%=t '.dob' %> </small><%=l @patient.date_birth %>
      </p>
      <p class="navbar-text text-info">
        <small><%=t '.age' %> </small><%= distance_of_time_in_words_to_now(@patient.date_birth) %>
      </p>
      <p class="navbar-text text-info">
        <small>RNU: </small>
        <%= @patient.rnu %>
      </p>
      <p class="navbar-text text-info">
        <small><%=t '.npsonho' %> </small>
        <%= @patient.npsonho %>
      </p>
    </span>
  </div>
</nav>

<%= link_to 'New Patient', new_patient_path() %>
