<% provide(:title, @patient.name) %>

<!-- aside column -->
<aside class="col-md-3">
  <div class="panel panel-default" data-spy="affix" data-offset-top="55">
    <div class="panel-heading">
      <h4><%= @patient.name %></h4>
    </div>
    <div class="panel-body">
      <%= render 'shared/patient_data' %>
      <ul class="nav nav-pills nav-stacked">
        <%= render 'shared/pulmonary_appointments_menu' %>
        <li role="presentation"><%= link_to t('.edit-patient-link'), edit_patient_path(@patient), class: 'btn btn-default' %></li>
        <li role="presentation"><%= link_to t('.patient-index'), patients_path(), class: 'btn btn-default' %></li>
      </ul>
    </div>
  </div>
</aside>

<!-- main column  -->
<div class="col-md-9">
  <!-- If current_user has access to pulmonary -->
  <%= render 'pulmonary/appointments' %>
</div>