<% provide(:title, t('.tiss-index')) %>

<aside class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('.15-day-stats') %></h4>
    </div>
    <div class="panel-body">
      <dl>
        <dt><%= t('.15-day-minimum') %></dt>
        <dd><%= @tiss.first.score %> - <%= link_to @tiss.first.patient.name, patient_path(@tiss.first.patient) %></dd>
        <dt><%= t('.15-day-maximum') %></dt>
        <dd><%= @tiss.last.score %> - <%= link_to @tiss.last.patient.name, patient_path(@tiss.last.patient) %></dd>
      </dl>
    </div>
  </div>
</aside>

<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('.yesterday-scores') %> - <%= l(Date.yesterday) %></h4>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <% @patients.each do |patient| %>
          <li class="list-group-item">
            <ul class="list-inline">
              <li><span class="lead"><%= link_to patient.name, patient_path(patient) %></span></li>
              <% patient.tiss_evaluations.order(evaluation_date: :ASC).last(3).each do |tiss| %>
                <li><small><%= tiss.evaluation_date %>:</small> <strong><%= tiss.score %></strong></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('.15-day-map') %></h4>
    </div>
    <div class="panel-body">
      <%= line_chart @patients_graph.map { |patient|
        { name: patient.name, data: patient.tiss_evaluations.group_by_day(:evaluation_date, range: 15.days.ago..Time.now, series: false).sum(:score) }
      }, download: 'tiss_15_days' %>
    </div>
  </div>
</div>