<% provide(:title, t(".log-in")) %>

<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t(".log-in") %></h4>
    </div>
    <div class="panel-body">
  

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :employee_id, t(".employee_id") %>
      <%= f.text_field :employee_id, autofocus: true, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password, t(".password") %>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="row">
        <div class="field col-md-3">
        <div class="checkbox">
          <%= f.label :remember_me, t(".remember-me") %>
          <%= f.check_box :remember_me %>
        </div>
        </div>
      </div>
    <% end -%>

    <div class="actions col-md-2">
      <%= f.submit t("submit"), class: 'btn btn-success' %>
    </div>
  <% end %>
  </div>
  </div>
</div>