<% provide(:title, t('.edit-roles')) %>

<div class="col-md-9 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('.edit-roles') %> <%= @user.full_name %></h4>
    </div>
    <div class="panel-body">
      <ul>
        <% @roles.each do |role| %>
          <li>
            <%= role.name %>
            <small><%= ": #{role.resource_type}" %></small>
            <%= link_to 'Destroy', [@user,role], method: :delete, data: { confirm: t(".are-you-sure") } %>
          </li>
        <% end %>
      </ul>
      <h4><%= t(".new-role") %></h4>
      <%= form_with(model: [ @user, @user.roles.build ], local: true) do |f| %>
        <%= select_tag(:role, options_from_collection_for_select(Role.all, :id, :full_role)) %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
<% console %>