<% provide(:title, t('.edit-roles')) %>

<div class="col-md-9 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('.edit-roles') %> <%= @user.full_name %></h4>
    </div>
    <div class="panel-body">
      <h4><%= t('.current-roles') %></h4>
      <% @roles.each do |role| %>
        <ul class="list-inline">
          <li class="col-md-3">
            <%= role.name %><small><%= ": #{role.resource_type}" %></small>
          </li>
          <li class="col-md-9">
            <%= link_to 'Destroy', [@user,role], method: :delete, data: { confirm: t(".are-you-sure") } %>
          </li>
        </ul>
      <% end %>
      <h4><%= t(".new-role") %></h4>
      <%= form_with(model: [ @user, @user.roles.build ], local: true) do |f| %>
        <div class="col-md-9">
        <%= select_tag(:role, options_from_collection_for_select(Role.all, :id, :full_role), class: 'form-control') %>
        </div>
        <div class="col-md-3">
        <%= f.submit t('submit'), class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>