<h1><%= t(".hello") <%= @resource.email %>!</h1>

<p><%= t(".someone-has-requested-a-link-to-change-your-password-you-can-do-this-through-the-link-below") %>.</p>

<p><%= link_to t(".change-my-password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(".if-you-didnt-request-this-please-ignore-this-email") %>.</p>
<p><%= t(".your-password-wont-change-until-you-access-the-link-above-and-create-a-new-one") %>.</p>
