<tr>
  <th>Dispositovo</th>
  <td><%= prescribed_inhaler.inhaler_device.inhaler_device_type.inhaler_type_name %></td>
  <td><%= prescribed_inhaler.inhaler_device.active_ingredient_inn %></td>
  <td><%= prescribed_inhaler.inhaler_device.active_ingredient_trade_name %></td>
  <td><%= prescribed_inhaler.inhaler_device.medicine_dosage %></td>
  <td><%= prescribed_inhaler.before_technic %></td>
  <td><%= prescribed_inhaler.after_technic %></td>
  <td><%= prescribed_inhaler.observation %></td>
</tr>